body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;

  margin: 0px;
  padding: 0px;

}

.bodyD {
  background: url('../img/binding_dark.png');
}

.bodyJ {
  background: url('../img/halftone-yellow.png');
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cardo', serif;
  color: #ffffff;
}

.workspaceG {
  background-color: #D2D2D2;

  border-radius: 10px;

  padding: 10px;
  margin-top: 60px;
  margin-bottom: 60px;

  box-shadow: 0px 0px 25px #CCC536;
}

.workspaceJ {
  background-color: #CCC536;

  border-radius: 10px;

  padding: 10px;
  margin-top: 60px;
  margin-bottom: 60px;

  box-shadow: 0px 0px 25px #CCC536;
}

footer{
  background-color: #33383c;
  padding:70px 0px;
  margin-top: 110px;
  border-top: 5px solid #CCC536;
}

.logo{
  color:#FFF;
  font-weight:800;
  font-size:30px;
}

.footer-list span , .social span{
  color: #FFF;
  font-weight: 800;
  padding-bottom: 10px;
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 3px;
  font-family: 'Cardo', serif;
}

.footer-list  li a , .footer-list  li p{
  font-family: 'Josefin Sans', sans-serif;
  color:#FFF;
  letter-spacing: 2px;
  text-decoration:none;
  font-size:12px;
}

.footer-list , .social{
  list-style: none;
}

.social li{
  float: left;
}

.social .fa{
  color:#9c9c9c;
  margin-right: 10px;
  font-size:16px;
}

.navbar {
  border-bottom: 5px solid #CCC536;
}

.page-header {
  box-shadow: 0 8px 10px -6px #CCC536;
  box-shadow: 0 8px 10px -6px #CCC536;
  box-shadow: 0 8px 10px -6px #CCC536;
}

.btn-jaune {
  background-color: #CCC536;
}

.btn-jaune:hover, .btn-jaune:focus  {
  background-color: #aaba1f;
  box-shadow: 0px 0px 25px #aaba1f;
}

.btn-gris {
  background-color: #D2D2D2;
}

.btn-gris:hover, .btn-gris:focus  {
  background-color: #a39e9e;
  box-shadow: 0px 0px 25px #a39e9e;
}

.btn-yellow {
  background: url('../img/halftone-yellow.png');
}

.btn-yellow:hover, .btn-yellow:focus  {
  background-color: #aaba1f;
  box-shadow: 0px 0px 25px #aaba1f;
}

.btn-dark {
  background: url('../img/binding_dark.png');
  color: #ffffff;
}

.btn-dark:hover, .btn-dark:focus  {
  box-shadow: 0px 0px 25px #000000;
  color: #ffffff;
}
